.footer {
  @include flex-col-gap-1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
  box-shadow: var(--border-shadow);
  padding: 2rem;

  @include breakpoint-sm-up {
    flex-direction: row;
  }

  .logo-container {
    @include breakpoint-sm-up {
      flex: 0 0 calc(50% - 2rem);
    }

    @include breakpoint-xmd-up {
      flex: 0 0 calc(25% - 2rem);
    }
  }
}
