.links-container {
  height: 0;
  overflow: hidden;
  transition: $transition;

  @include breakpoint-md-up {
    height: auto !important;
  }

  .links {
    @include breakpoint-md-up {
      display: flex;
      align-items: center;
    }
  }

  a,
  button {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
  }

  a {
    text-decoration: none;
  }

  button {
    @include borderless-button;
  }
}
