.search-company {
  text-decoration: none;

  .search-article {
    @include flex-col-gap-1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    border: $border;
    padding: 1.5rem;
    @include breakpoint-md-up {
      flex-direction: row;
    }
  }

  .search-content {
    @include breakpoint-md-up {
      flex: 0 0 calc(50% - 1rem);
    }
    @include breakpoint-xmd-up {
      flex: 0 0 calc(25% - 1rem);
    }
  }
}
