.add-employess {
  @include component-container;

  .container {
    @include flex-col-gap-1rem;
    width: 80%;
    gap: 2rem;
    @include breakpoint-md-up {
      flex-direction: row;
      align-items: space-evenly;
      width: 100%;
    }
  }
  .add-employees-input {
    flex: 0 0 40%;
    align-self: flex-end;
    width: 100%;
    border: $border;
  }
}
