.company-table {
  line-height: 2rem;
  border: $border;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  word-break: break-all;

  td {
    padding: 0 0.5rem;

    &:first-child {
      font-weight: $font-weight-bold;
    }
  }
}
